#wrapper{
  width: 1200px;
  margin: 0 auto;
  
}

#header{
  height: 40px;
  position: relative;
  box-shadow: 0 2px 0px rgba(0,0,0,0.1);
  margin-bottom: 40px;
}
#logo{
  position: absolute;
  top: 5px;
  left: 0;
}

#menu{
  position: absolute;
  right: 0;
  top: 10px;
}
#menu li{
  display: inline-block;
  margin-left: 20px;
}

#menu li a{
  color: #888;
  text-decoration: none;
  font-size: 20px;
}
#menu li a.active{
  color: #000;
}
#menu li a:hover{
  color: #c497da;
}