table{
  width: 600px;
}
th, td{
  padding: 5px 10px;
  border: 1px solid;
}

label {
    display: inline-block;
    width: 130px;
}
.form-item{
  margin-bottom: 20px;
}

.form-submit{
  color: #fff;
  background: #c497da;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

.form-submit:hover{
  background: #000;
}

p{
  margin: 0 0 15px;
}

.actions{
  white-space: nowrap;
  text-align: center;
}

.actions a{
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  transition: all ease 0.5s;
}
.actions a:hover{
  transform: scale(1.2);
}
.actions .fa-pencil-square-o{
  color: #0c8637;
}
.actions .fa-trash-o{
  color: #dc1313;
}
